/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

:root{
  --calculator-background-color: rgb(255, 179, 0);
  --red-button-color: #B70B0C;
}

html{
  font-size: 10px;
}

body{
  background-color: var(--calculator-background-color);
  font-family: 'Manrope', sans-serif;
}

.app{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}