button {
  height: 65%;
  border-radius: 15px;
  background-color: rgb(78, 78, 78);
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 2.5rem;
  font-weight: 700;
}

button::-moz-focus-inner {
  border: 0;
}

.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}

.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}

.zeros {
  grid-area: zeros;
}

.dot {
  grid-area: dot;
}

.del {
  grid-area: del;
}

.multiply {
  grid-area: multiply;
}
.divide {
  grid-area: divide;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.equal {
  grid-area: equal;
  background-color: rgb(255, 179, 0);
  color: black;
}
